{% extends "site_base.html" %}
{% load bootstrap %}
{% block extra_head %}
{{ form.media }}
{% endblock %}{% block body %}
    <form method="post" role="form">
        <legend>Nieuwe wedstrijd</legend>
        {% csrf_token %}
        {{ form|bootstrap }}
        <div class="form-group">
            <button type="submit" class="btn btn-default">Aanmaken</button>
        </div>
        </table>
    </form>
{#    <script type="text/javascript">#}
{#            $(function () {#}
{#                $('#id_start').datetimepicker();#}
{#            });#}
{##}
{#        </script>#}
{#    <script type="text/javascript">#}
{#            $(function () {#}
{#                $('#id_eind').datetimepicker();#}
{#            });#}
{##}
{#        </script>#}
{% endblock %}