{% extends "base.html" %}
{% load staticfiles %}
{% load account %}

{% block extra_head %}
    <link rel='stylesheet' type='text/css'
          href="{% static "fullcalendar/dist/fullcalendar.css" %}" xmlns="http://www.w3.org/1999/html"/>
    <script type="text/javascript" src="{% static "moment/min/moment.min.js" %}"></script>
    <script src="{% static "moment/locale/nl.js" %}"></script>

    <script type='text/javascript'
            src="{% static "fullcalendar/dist/fullcalendar.js" %}"></script>
    <script type='text/javascript' src="{% static "fullcalendar/dist/locale/nl.js" %}"></script>

{% endblock %}

{% block sidebar %}
    <div>
        {% if user.is_authenticated %}
            {#            {% if user.type == 1 %}#}
            <h1>Menu</h1>
            {#            {% endif %}#}
            <p>hoi</p>
        {% endif %}
    </div>
    <div>
        <h1>Filter</h1>
        <h2>Type wedstrijd</h2>
        <form>
            <ul id="filter">
                {% for key, value in filter.items %}
                    <div class="checkbox">
                        <label>
                            <input id="{{ key }}" type="checkbox" value="{{ key }}" checked="true"
                                   onchange="update_filter(this)">
                            {{ value }}
                        </label>
                    </div>
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}

{% block content %}
    <div id="calendar">

    </div>

    <script type='text/javascript'>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                title: 'Zeilwedstrijden agenda',
                header: {
                    left: 'month basicWeek basicDay',
                    center: 'title',
                    right: 'today prev next'
                },
                weekNumbers: true,
                events: '/api/wedstrijden/'
            })

        });
    </script>
    <script type='text/javascript' src="/static/wedstrijdagenda/js/main_zws.js"></script>

{% endblock %}