{% extends "site_base.html" %}
{% load staticfiles %}
{% block extra_head %}
    <link rel='stylesheet' type='text/css'
          href="{% static "fullcalendar/dist/fullcalendar.css" %}"/>
    <script type="text/javascript" src="{% static "moment/min/moment.min.js" %}"></script>
    <script type='text/javascript'
            src="{% static "fullcalendar/dist/fullcalendar.js" %}"></script>
    <script type='text/javascript' src="{% static "fullcalendar/dist/lang/nl.js" %}"></script>

{% endblock %}

{% block body %}
    <div id="calendar">

    </div>

    <script type='text/javascript'>
        $(document).ready(function () {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                title: "Dit is een titel",
                header: {
                    left: 'prevYear nextYear',
                    center: 'month basicWeek basicDay agendaWeek agendaDay',
                    right: 'today prev next'
                },
                weekNumbers: true,
                events: '/api/wedstrijden/'
            })

        });
    </script>

{% endblock %}