{% extends parent_template|default:"user/base_user.html" %}

{% block head_title %}
    {{ block.super }} - Inloggen
{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="row">
            {% include "user/login_form.html" %}</div>
        <div class="row">
            <ul class="list-inline" style="padding-top: 20px">
                <li><a href="{% url "pw_reset_start" %}">Wachtwoord resetten</a></li>
                <li> |</li>
                <li><a href="{% url 'create' %}">Een nieuw account aanmaken</a></li>
            </ul>
        </div>
    </div>
{% endblock %}