{% extends parent_template|default:"user/base_user.html" %}
{% load bootstrap %}

{% block head_title %}
{{ block.super }} - Reset wachtwoord
{% endblock %}

{% block body %}
    <div class="col-md-4">
    {% if validlink %}
        <legend>Geef hier onder een nieuw wachtwoord in.</legend>
        <form action="{{ request.path }}" method="post">
        {% csrf_token %}
        {{ form|bootstrap }}
        <button class="btn btn-default">Bewaar nieuwe wachtwoord</button>
        </form>
{% else %}
        <p class="text-info">Deze link is niet meer geldig.</p>
        <p>Vraag een nieuwe reset email aan.</p>
        <form action="{% url "pw_reset_start" %}" method="get">
        <button class="btn btn-default" type="submit">Stuur me een nieuwe email</button>
        </form>
    {% endif %}
    </div>

{% endblock %}